<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h2>Editar <%= resource_name.to_s.humanize %></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="d-flex">
            <%= f.input :first_name, required: true, autofocus: true, label: "Nome" %>
            <%= f.input :last_name, required: true, autofocus: true, label: "Sobrenome" %>
          </div>
          <%= f.input :photo, as: :file, label: 'Trocar foto'%>
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                label: "Senha",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                label: "Confirme a senha",
                required: false,
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                label: "Senha atual",
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to "Deletar conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %>
      <p><%= link_to "Back", :back %></p>
    </div>
  </div>
</div>
