<div class="container d-flex">
  <% if user_signed_in? %>
    <div class="hide-mobile">
      <%= cl_image_tag current_user.photo.key, class: "avatar-large dropdown-toggle m-2",
        transformation: [ {gravity: :face, height: 400, width: 400, crop: :fill},
        {radius: :max},
        {width: 200, crop: :scale}
        ] %>
      <%= render 'shared/icon' %>
    </div>
    <div class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <%= cl_image_tag current_user.photo.key, class: "avatar-large dropdown-toggle m-2", id: "navbarDropdown",
          data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false,
          transformation: [ {gravity: :face, height: 400, width: 400, crop: :fill},
            {radius: :max},
            {width: 200, crop: :scale} ] %>
          <%# current_user.score = 35 %>
          <%= render 'shared/icon' %>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if user_signed_in? %>
            <% unless current_user.teacher %>
              <p class="dropdown-item m-0">Pontos: <%= current_user.score %></p>
            <% end %>
            <%= link_to "home", root_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
