<div class="container">
  <div class="row">
    <% @answers.each do |answer| %>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <% if answer.user.teacher %>
          <div class="teacher-answer">
            <%= "Semana #{answer.test.id} - Respostas" %>
            <%= link_to test_answer_path(answer.test_id, answer.user_id), method: :delete do %>
              <i class="fas fa-backspace"></i>
            <% end %>
            <p><b><%= answer.test.question1 %></b> <%= answer.answer1 %></p>
            <p><b><%= answer.test.question2 %></b> <%= answer.answer2 %></p>
            <p><b><%= answer.test.question3 %></b> <%= answer.answer3 %></p>
            <p><b><%= answer.test.question4 %></b> <%= answer.answer4 %></p>
          </div>
        <% else %>
          <div class="student-answer">
            <%= cl_image_tag answer.user.photo.key, gravity: :face, crop: :thumb, class: "avatar" %>
            <%= answer.user.first_name.titleize + " " + answer.user.last_name.titleize + " " + "- Semana #{answer.test.id}" %>
            <%= link_to test_answer_path(answer.test_id, answer.user_id), method: :delete do %>
              <i class="fas fa-backspace"></i>
            <% end %>
            <p><b><%= answer.test.question1 %></b> <%= answer.answer1 %></p>
            <p><b><%= answer.test.question2 %></b> <%= answer.answer2 %></p>
            <p><b><%= answer.test.question3 %></b> <%= answer.answer3 %></p>
            <p><b><%= answer.test.question4 %></b> <%= answer.answer4 %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>
