<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <% @answers.each do |a| %>
        <h5>Semana <%= a.test.id %></h5>
        <%= cl_image_tag a.user.photo.key, class: "avatar" %>
        <%= a.user.nome_completo %>
        <p><b><%= a.test.question1 %></b> <%= a.answer1 %></p>
        <p><b><%= a.test.question2 %></b> <%= a.answer2 %></p>
        <p><b><%= a.test.question3 %></b> <%= a.answer3 %></p>
        <p><b><%= a.test.question4 %></b> <%= a.answer4 %></p>
      <% end %>
    </div>
  </div>
</div>
