<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <%= simple_form_for @post do |f| %>
        <%= f.input :content, label: false, placeholder: '', input_html: {class: 'ps-3 '} %>
        <%= f.input :files, label: false, as: :file, input_html: { multiple: true, class: "d-none" } %>
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      <% end %>


      <%= render 'shared/footer' %>

    </div>
  </div>
</div>
