<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <% if current_user.teacher %>
        <p>Semana <%= Test.count + 1 %></p>
        <%= simple_form_for @test do |f| %>
          <%= f.input :question1, label: false, placeholder: "Pergunta 1" %>
          <%= f.input :question2, label: false, placeholder: "Pergunta 2" %>
          <%= f.input :question3, label: false, placeholder: "Pergunta 3" %>
          <%= f.input :question4, label: false, placeholder: "Pergunta 4" %>
          <%= f.submit 'Enviar', class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <h4>Você não tem autorização para acessar essa página</h4>
      <% end %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>
